@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A0A0A0;
  text-decoration: none;
  font-family: 'Big Shoulders Stencil Display', cursive;
}
nav.navbar {
  margin: 0;
}

/* Discover Limerick Logo */
.logo {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 0.1em;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
}

.logo a:hover {
  text-decoration: none;
}
/* Navigation Tabs */
.navbar-links ul {
  margin: 0px 10px;
  padding: 0px;
  display: flex;
}

.navbar-links ul li {
  list-style: none;
  text-transform: uppercase;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
  display: block;
  font-size: 36px;
  letter-spacing: 0.1em;
  margin: 6px;
}

.togglebtn {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.line {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
}
/* Media Query: Max-Width: 600px */
@media only screen and (max-width: 600px) {
  .togglebtn {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    font-size: 32px;
    font-weight: 600;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 6px;
    cursor: alias;
    font-size: 26px;
  }

  .navbar-links.active {
    display: flex;
  }
}

.hvr-bounce-to-bottom:before {
  background-color: #20b2aa;
  color: #ffffff;
}

#home-top-section {
  overflow: hidden;
  position: relative;
  height: 50em;
  width: 100%;
}
/* King John's Castle Primary Cover Image */
#home-cover-image {
  height: 50em;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/alandoherty95/Milestone-Project-2/master/assets/images/king-johns-castle-home.jpg");
  animation-name: hero-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* Current Weather Conditions */
.weather-container {
  background-color: rgb(255,255,255, 0.8);
  position: absolute;
  color: #20B2AA;
  padding: 0.5em;
  margin: 1em;
  max-width: 220px;
  font-size: 20px;
}

.icon {
  width: 80px;
  height: 80px;
}

.weather-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

.weather-container p {
  color: #000000;
  font-weight: 600;
}
/* Media Query: Max-Width: 768px */
@media only screen and (max-width: 768px) {
  #home-top-section {
    height: 30em;
  }

  #home-cover-image {
    height: 30em;
    background-image: url("https://images.pexels.com/photos/6151691/pexels-photo-6151691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  }

  #coffee-top-section {
    height: 30em;
  }

  #coffee-cover-image {
    height: 40em;
    background-image: url("https://images.pexels.com/photos/6151691/pexels-photo-6151691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  }

  #activities-top-section {
    height: 30em;
  }

  #activities-cover-image {
    height: 30em;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/25/01/31/forest-166733__340.jpg");
  }

  #attractions-top-section {
    height: 30em;
  }

  #attractions-cover-image {
    height: 30em;
    background-image: url("https://cdn.pixabay.com/photo/2020/05/21/12/49/limerick-5200627__340.jpg");
  }

  #faq-top-section {
    height: 30em;
  }

  #faq-cover-image {
    height: 30em;
    background-image: url("https://github.com/alandoherty95/Milestone-Project-2/blob/master/assets/images/king-johns-castle-portrait.jpg?raw=true");
  }

  .weather-container h4, ul, p {
    font-size: 14px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
/* Media Query: Max-Width: 600px */
@media only screen and (max-width: 600px) {
  #home-top-section {
    height: 22em;
  }

  #home-cover-image {
    height: 22em;
    background-image: url("https://cdn.pixabay.com/photo/2015/05/19/17/45/klee-773946__340.jpg ");
  }

  #coffee-top-section {
    height: 22em;
  }

  #coffee-cover-image {
    height: 22em;
    background-image: url("https://images.pexels.com/photos/6151691/pexels-photo-6151691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  }

  #activities-top-section {
    height: 22em;
  }

  #activities-cover-image {
    height: 22em;
    background-image: url("https://cdn.pixabay.com/photo/2020/01/26/22/27/leaf-4796054__340.jpg");
  }

  #attractions-top-section {
    height: 22em;
  }

  #attractions-cover-image {
    height: 22em;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/28/16/31/castle-2690330_960_720.jpg");
  }

  #faq-top-section {
    height: 22em;
  }

  #faq-cover-image {
    height: 22em;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/28/16/31/castle-2690330__480.jpg");
  }

  .weather-container h4, ul, p {
    font-size: 12px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

#favourites {
  display: block;
  box-sizing: border-box;
  width: 94%;
  margin: 2em auto;
  padding: 2em;
  color: #000000;
  border: 4px solid #20B2AA;
}

#favourites h2 {
  text-align: center;
  color: #A0A0A0;
  margin: 0.5em;
}

#favourites img {
  height: 15em;
  width: auto;
  display: block;
  margin: 6px auto;
  transition: all .4s ease-in-out;
}

#favourites article h2 a {
  text-decoration: none;
  color: #20B2AA;
}

#favourites article a {
  text-decoration: none;
}

#favourites > div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}

#favourites article {
  flex: 1 0 10em;
  margin: 0.5em 1em;
}

.favourite-card:hover {
  cursor: pointer;
}

#favourites article h2 a:hover,
#favourites article h2 a:focus,
.favourite-card:hover .favourite-link {
  text-decoration: none;
  color: #20B2AA;
}


#favourites article a:hover img,
#favourites article a:focus img,
.favourite-card:hover img {
  transform: scale(1.1);
}


/* Google Map API */
#map-section {
  margin: 1em;
  overflow: hidden;
  position: relative;
}

#map {
  height: 90vh;
  width: 100%;
  margin: auto;
  min-height: 22.5em;
}

#map-section h4 {
  color: #20B2AA;
}
/* Coffee Tab */
#coffee-section {
  overflow: hidden;
  position: relative;
  height: 50em;
  width: 100%;
}
/* Hook & Ladder Cover Image */
#coffee-cover-image {
  height: 50em;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/alandoherty95/Milestone-Project-2/master/assets/images/hook-and-ladder-front.jpg");
  animation-name: hero-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Activities Tab */
#activities-section {
  overflow: hidden;
  position: relative;
  height: 45em;
  width: 100%;
}
/* Cratloe Woods Cover Image */
#activities-cover-image {
  height: 45em;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/11/12/13/37/forest-2942477__340.jpg ");
  animation-name: hero-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Attractions Tab */
#attractions-section {
  overflow: hidden;
  position: relative;
  height: 45em;
  width: 100%;
}
/* King John's Castle Secondary Cover Image */
#attractions-cover-image {
  height: 45em;
  width: 100%;
  background-image: url("https://www.limerick.ie/sites/default/files/styles/hero_image/public/media/images/2019-07/Bunratty%20Castle%202%20810x456.jpg?itok=gGZe5_Od");
  animation-name: hero-zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* Cover Text on Cover Images */
#attractions-cover-text, #coffee-cover-text, #activities-cover-text {
  padding: 1em;
  background-color: rgb(197, 195, 198, 0.8);
  position: absolute;
  margin: 2em;
  color: #ffffff;
}

ul.cover-text {
  margin: 1em;
  color: #ffffff;
  list-style-type: square;
  font-size: 18px;
}

.headline {
  color: #20B2AA;
  font-size: 2em;
  padding-top: 0.8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.subline {
  color: #20B2AA;
  font-size: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

ul.cover-list {
  margin: 1em;
  color: #20B2AA;
  list-style-type: square;
  font-size: 18px;
}
/* Recommended Places */

.YouMayLike {
  margin: 2em auto;
  padding: 2em;
  overflow-x: auto;
  width: 94%;
}


/* Recommended Places: Shuffle Cards */
#coffeeYouMayLike, #activitiesYouMayLike, #attractionsYouMayLike, #placesYouWillLove {
  display: flex;
  overflow-x: auto;
}

#coffeeYouMayLike img, #activitiesYouMayLike img, #attractionsYouMayLike img {
  max-height: 400px;
  width: 100%;
  padding: 6px;
}

#placesYouWillLove img {
  max-height: 400px;
  width: 100%;
  padding: 6px;
}

.single-card {
  border: 2px solid #20B2AA;
  padding: 4px;
  width: 100%;
}

.card-body {
  width: 94%;
  margin: 2em auto;
  padding: 2em;
}

.card-title {
  color: #20B2AA;
}

.card-text {
  font-size: 18px;
}

.card-service {
  color: #20B2AA;
  font-size: 18px;
}

.btn-info {
    margin: 2px;
}

/* Start of Footer */
.footer {
  background: #A0A0A0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 55px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Left Footer */
.footer .footer-left {
  width: 40%;
}
/* Discover Limerick Logo */
.footer h3 {
  color: #ffffff;
  font-family: 'Big Shoulders Stencil Display', cursive;
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  width: 60%;
  padding: 6px;
  letter-spacing: 0.5px;
}

.hvr-bounce-to-top:before {
  background-color: #20b2aa;
  color: #ffffff;
}

.footer h3 a {
  text-decoration: none;
  color: #ffffff;
}

/* Tab Links */
.footer .footer-tab-links {
  color: #ffffff;
  font-size: 20px;
}

.footer .footer-tab-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 600;
  text-decoration: none;
  padding: 4px;
  margin: 4px;
  color: inherit;
  border: 0.5px solid #ffffff;
}

.footer .footer-tab-links a:hover {
  text-decoration: none;
}

.footer .footer-developer-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 2px;
}
/* Center Footer */
.footer .footer-center {
  width: 35%;
}

.footer .footer-center div {
  text-align: left;
}

.footer .footer-center i {
  background-color: #808080;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #ffffff;
  text-decoration: none;
  margin: 6px;
}

.footer .footer-tab-links a:before {
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
/* Right Footer */
.footer .footer-right {
  width: 20%;
}

.footer .footer-developer-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-developer-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-developer-about-icons {
  margin-top: 25px;
  padding: 2px;
  font-size: 22px;
}

.footer .footer-right i.fa-linkedin {
  font-size: 27px;
  padding: 2px;
}

.footer .footer-right i.fa-github {
  font-size: 27px;
  padding: 2px;
}

.footer .footer-developer-about-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: alias;
  background-color: #808080;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .footer-developer-about-icons a:hover {
  background-color: #ffffff;
  color: #808080;
}
/* Footer Media Query: Max-Width: 768px */
@media (max-width: 768px) {
  .footer h3 {
    font-size: 32px;
  }

  .footer .footer-left {
    text-align: center;
  }

  .footer .footer-tab-links {
    font-size: 16px;
  }

  .footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-right {
    font-size: 16px;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}
/* Footer Media Query: Max-Width: 600px */
@media (max-width: 600px) {
  .footer h3 {
    font-size: 30px;
  }

  .footer .footer-left {
    text-align: center;
  }

  .footer .footer-tab-links {
    font-size: 12px;
  }

  .footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer .footer-right {
    font-size: 12px;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}
/* Inspritation came from https://getbootstrap.com/docs/5.0/components/accordion/ and https://jqueryui.com/accordion/ */
/* Accordion */
#accordion {
  background-color: #ffffff;
  padding: 1em;
}

.accordion-container {
  position: relative;
  max-width: 80%;
  height: auto;
  margin: 2em auto;
}

.accordion-container > h2 {
  text-align: center;
  color: #20B2AA;
  padding: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 0.2em solid #ddd;
}

.accordion-container a {
  text-decoration: none;
  color: #20B2AA;
  padding: 1em;
  cursor: cell;
}

.accordion-container a:hover {
  text-decoration: none;
  color: #20B2AA;
  padding: 1em;
}
/* Our Monthly Favourites */
#monthly-favourites {
  background-color: #20B2AA;
  color: #ffffff;
}
/* About Tab */
#faq-section {
  overflow: hidden;
  position: relative;
  height: 50em;
  width: 100%;
}
/* Sarsfield Street Cover Image */
#faq-cover-image {
  height: 50em;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/alandoherty95/Milestone-Project-2/master/assets/images/hook-and-ladder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#faq {
  background-color: #808080;
  padding: 1em;
}

#faq h2 {
  text-align: center;
  color: #ffffff;
  padding: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.8em;
  border-bottom: 0.2em solid #ddd;
}

.faq-container {
  position: relative;
  max-width: 80%;
  height: auto;
  margin: 2em auto;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

.set a {
  cursor: cell;
}

.set > a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.set > a i {
  float: right;
  margin-top: 0.1em;
}

.set > a.active {
  background-color: #20B2AA;
  color: #ffffff;
}

.content {
  background-color: #ffffff;
  border-bottom: 0.1em solid #ddd;
  display: none;
}

.content p {
  padding: 1em;
  margin: 0;
  color: #000000;
}
/* Accordion Images */
.content img {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2px;
}

