@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
	margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
hr {
	height: 1px;
	background-color: #ffffff;
	border: none;
}
/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    color: #ffffff;
    text-decoration: none;
}
.logo {
    margin: 6px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #ffffff;
}
.logo a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
.logo a:hover {
    text-decoration: none;
    background: #ffffff;
    color: #808080;
}
.navbar-links ul {
    margin: 0px 10px;
    padding: 0px;
    display: flex;
}
.navbar-links ul li {
    list-style: none;
    text-transform: uppercase;
}
.navbar-links ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: block;
    font-size: 36px;
    letter-spacing: 0.1em;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.navbar-links ul li a:hover {
    background: #ffffff;
    color: #808080;
}
.togglebtn {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.line {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .togglebtn {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    font-size: 28px;
    font-weight: 600;
}
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 16px;
  }
  .navbar-links.active {
    display: flex;
  }
}
#top-section {
	overflow: hidden;
    position: relative;
    height: 65em;
	width: 100%;
}
#home-cover-image {
	height: 65em;
	width: 100%;
	background-image: url("/assets/images/king-johns-castle-home.jpg");
	animation-name: hero-zoom;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
@keyframes hero-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.08);
	}
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map-section {
    margin: 1em;
    overflow: hidden;
    position: relative;
}
#map-section h1 {
    color:  #ffffff;
    background-color: #808080;
    font-size: 32px;
    padding: 1em;
    text-align: center;
}
#map {
    height: 90vh;
    width: 100%;
    margin: auto;
    min-height: 360px;
}

/* Footer */
.myfooter{
	background: #808080;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.myfooter .footer-left,
.myfooter .footer-center,
.myfooter .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.myfooter .footer-left{
	width: 40%;
}

/* The company logo */

.myfooter h3{
	color:  #ffffff;
	font-family: 'Big Shoulders Stencil Display', cursive;
    margin: 0;
    font-size: 3em;
}

.myfooter h3 span{
	color:  lightseagreen;
}

/* Footer links */

.myfooter .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.myfooter .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.myfooter .footer-developer-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.myfooter .footer-center{
	width: 35%;
}

.myfooter .footer-center i{
	background-color:  #808080;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.myfooter .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.myfooter .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.myfooter .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.myfooter .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.myfooter .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

/* Footer Right */

.myfooter .footer-right{
	width: 20%;
}

.myfooter .footer-developer-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.myfooter .footer-developer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.myfooter .footer-icons{
    margin-top: 25px;
    padding: 0.2em;
}

.myfooter .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #808080;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.myfooter {
		font: bold 14px sans-serif;
	}

	.myfooter .footer-left,
    .myfooter .footer-center,
    .myfooter .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.myfooter .footer-center i{
		margin-left: 0;
	}

}

/*---- Accordion ---*/
#accordion {
    background-color: #808080;
    padding: 1em;
}
.accordion-container{
  position: relative;
  max-width: 80%;
  height: auto;
  margin: 2em auto;
}
.accordion-container > h2{
  text-align: center;
  color: #ffffff;
  padding: 0.8em;
  border-bottom: 0.2em solid #ddd;
}
#faq {
    background-color: #808080;
    padding: 1em;
}
.faq-container{
  position: relative;
  max-width: 80%;
  height: auto;
  margin: 2em auto;
}
.faq-container > h2{
  text-align: center;
  color: #ffffff;
  padding: 0.8em;
  border-bottom: 0.2em solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  float: right;
  margin-top: 0.1em;
}
.set > a.active{
  background-color:#66FF00;
  color: #ffffff;
}
.content{
  background-color: #ffffff;
  border-bottom: 0.1em solid #ddd;
  display:none;
}
.content p{
  padding: 1em;
  margin: 0;
  color: #000000;
}